Package: chonos
Version: 1.0.10
Priority:
Architecture: all
Essential:
Depends: chonos-log (>= 25.11.19), chonos-task (>= 25.11.26), chonos-ddnsmng (>= 1.6.1), chonos-sysconfig (>= 25.11.19), chonos-network (>= 25.11.28), chonos-embeddedmas (>= 1.2.1), jason-embedded (>= 25.11.19), chonos-firmwaremng (>= 1.6.3)
Pre-depends: sudo, openssh-server, openssh-sftp-server, systemd-timesyncd
Suggests:
Installed-Size:
Maintainer: Nilson Lazarin <chon@grupo.cefet-rj.br>
Conflicts: chonide, choncloud, chonos-lxc-template, chonos-wsl-installer
Replaces:
Provides:
Homepage: https://github.com/chon-group/dpkg-chonos
Description: A Specific-Purpose Linux Distribution for Embedded BDI-based Multi-Agent Systems.
